service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{chatId} {
      allow read;
      allow create: if request.auth.uid != null;

      match /messages/{messageId} {
        allow read;
        allow create:
          if request.auth.uid != null
          && request.resource.data.senderId == request.auth.uid
          && request.resource.data.createdAt.toMillis() == request.time.toMillis()
        ;
        allow delete: if resource.data.senderId == request.auth.uid;
      }
      match /participants/{userId} {
        allow read;
        allow create: if request.auth.uid == userId;
        allow update: if request.auth.uid == userId;
      }
    }
  }
}
